{% extends "Principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container">
        <h2>Vuelos sin Fecha de Operación para la Aerolínea {{ aerolinea_id }}</h2>
            {% for vuelo in vuelos %}
                <article>
                    {% include 'consultas/Listas/vuelos_sin_operacion.html' %}
                </article>
            {% endfor %}

    </div>
{% endblock %}
