{% extends "Principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container">
        <h2>Vuelos sin Fecha de Operación para la Aerolínea {{ aerolinea_id }}</h2>
            {% for vuelo in vuelos %}
                <article>
                    <p><strong>ID del Vuelo:</strong> {{ vuelo.vuelo.id }}</p>
                    <p><strong>Fecha operacion:</strong> {% if vuelo.fecha_operacion|date:"d-m-Y" %} {{ vuelo.fecha_operacion }}  {% else %} No Tiene fecha de operacion {% endif %}</p> 
                    <p><strong>Estado:</strong> {{ vuelo.estado }}</p>
                    <p><strong>Clase:</strong> {{ vuelo.clase }}</p>
                    <p><strong>Incidencias:</strong> {{ vuelo.incidencias }}</p>
                </article>
            {% endfor %}

    </div>
{% endblock %}
