{% extends 'Principal.html' %}

{% block contenido %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
<div class="card shadow p-4">
    <h2 class="text-secondary mb-4">Filtros de búsqueda</h2>
    <form method="GET" class="mb-4">
        <div>
            {{ formulario.textoBusqueda.label_tag }}
            {{ formulario.textoBusqueda }}
            {% for error in formulario.textoBusqueda.errors %}
                <div class="text-danger"><small>{{ error }}</small></div>
            {% endfor %}
        </div>
       <div>
            {{ formulario.ciudades.label_tag }}
            {{ formulario.ciudades }}
            {% for error in formulario.ciudades.errors %}
                <div class="text-danger"><small>{{ error }}</small></div>
            {% endfor %}
       </div>
       <div>
            {{ formulario.pais.label_tag }}
            {{ formulario.pais }}
            {% for error in formulario.pais.errors %}
                <div class="text-danger"><small>{{ error }}</small></div>
            {% endfor %}
       </div>
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </form>
</div>

<h2 class="text-center text-secondary my-4">Resultados de búsqueda</h2>

<div class="row">
    {% if aeropuerto %}
        {% for aeropuertoo in aeropuerto %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ aeropuertoo.id }}</h5>
                    <p class="card-text">
                        <strong>Nombre:</strong> {{ aeropuertoo.nombre }}<br>
                        <strong>ciudades:</strong> {{ aeropuertoo.ciudades }}<br>
                        <strong>pais:</strong> {{ aeropuertoo.pais }}<br>
                    </p>
                </div>
                <div class="card-footer text-center">
                    {% load bootstrap_icons %}
                    <div class="row btn-group">
                        <div class="mb-2">
                            <button type="button" 
                                    class="btn btn-outline-primary"> 
                                    <a href="{% url 'editar_aeropuerto' aeropuertoo.id %}" ><span>{% bs_icon 'pencil' %}</span></a>
                            </button>
                        </div>
                    </div>
                    <div class="mb-2">
                        <form action = "{% url 'eliminar_aeropuerto' aeropuertoo.id %}" method = "post"> 
                            {% csrf_token %}
                            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                <span>{% bs_icon 'trash' %}</span>
                            </button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-12">
            <p class="text-center text-danger">No se encontraron resultados.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
