{% extends "Principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container">
        <h1>Todos los pasajeros de vuelo: {{ vuelo.id }}</h1>
        <h2>Datos del Vuelo:</h2>
        <article>
            {% include 'Listas/Vuelo.html' %}
        </article>
        <h2>Datos Pasajeros:</h2>
        {% if vuelo.vuelo_pasajero.count > 0 %}
            {% for pasajero in vuelo.vuelo_pasajero.all %}
                <article>
                    <p>Contador de pasajeros: {{ forloop.counter }}</p>
                    {% include 'Listas/Pasajero.html' %}
                    {% if forloop.first %}
                        <p>Este es el primer pasajero del vuelo.</p>
                    {% endif %}
                </article>
            {% endfor %}
        {% else %}
            <p>No hay pasajeros registrados para este vuelo.</p>
        {% endif %}
            
    </div>
{% endblock %}