{% extends 'Principal.html' %}

{% block contenido %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}

<div class="card shadow p-4">
    <h2 class="text-secondary mb-4">Filtros de búsqueda</h2>
    <form method="GET" class="mb-4">
        {{ formulario.nombre_contacto.label_tag }}
        {{ formulario.nombre_contacto }}
        {% for error in formulario.nombre_contacto.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}
    
        {{ formulario.telefono_contacto.label_tag }}
        {{ formulario.telefono_contacto }}
        {% for error in formulario.telefono_contacto.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}
    
        {{ formulario.años_trabajados.label_tag }}
        {{ formulario.años_trabajados }}
        {% for error in formulario.años_trabajados.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}
    
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </form>
</div>

<h2 class="text-center text-secondary my-4">Resultados de búsqueda</h2>

<div class="row">
    {% if contactos %}
        {% for contacto in contactos %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ contacto.nombre_contacto }}</h5>
                    <p class="card-text">
                        <strong>Años trabajados:</strong> {{ contacto.años_trabajados }}<br>
                        <strong>telefono_contacto:</strong> {{ contacto.telefono_contacto }}<br>
                    </p>
                </div>
                <div class="card-footer text-center">
                    {% load bootstrap_icons %}
                    <div class="row btn-group">
                        <div class="mb-2">
                            <button type="button" 
                                    class="btn btn-outline-primary"> 
                                    <a href="{% url 'contacto_Aeropuert_modificar' contacto.id %}" ><span>{% bs_icon 'pencil' %}</span></a>
                            </button>
                        </div>
                    </div>
                    <div class="mb-2">
                        <form action = "{% url 'contacto_Aeropuert_eliminar' contacto.id %}" method = "post"> 
                            {% csrf_token %}
                            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                <span>{% bs_icon 'trash' %}</span>
                            </button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-12">
            <p class="text-center text-danger">No se encontraron resultados.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
