{% extends "Principal.html" %}

{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">Consultas de Aeropuerto</h2>
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'pasajeros_vuelo' 1 %}" class="btn btn-primary w-100 mb-3">Pasajeros del vuelo 1</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'vuelo_volando_año' 1990 %}" class="btn btn-primary w-100 mb-3">Pasajeros del año 1990</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'texto_vuelo_aerolinea' 27 'Alejandro' %}"class="btn btn-primary w-100 mb-3">texto de una aerolinea</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'historial_feedbacks_pasajero' 5 %}" class="btn btn-primary w-100 mb-3">feedback de un pasajero</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'vuelos_origen_destino' 1 2 %}" class="btn btn-primary w-100 mb-3">Vuelo especifico entre Aeropuertos</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'reservas_por_metodo_y_año' 'tarjeta' 2024 %}" class="btn btn-primary w-100 mb-3">Reserva por pago y año</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'vuelos_cortos_origen_destino' 1 2 1%}" class="btn btn-primary w-100 mb-3">vuelos entre aeropuertos</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'peso_equipaje_vuelo' 2 %}" class="btn btn-primary w-100 mb-3">Ver Peso de equipaje</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'vuelos_sin_operacion' 1 %}" class="btn btn-primary w-100 mb-3">Ver Vuelos sin Fecha de Operación</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'cuantos_pasajeros_vuelo' 1 %}" class="btn btn-primary w-100 mb-3">Ver Contar pasajeros</a>
        </div>
        

    </div>
{% endblock %}