<html>
    
    <head>
        {% load static %}
        {% load django_bootstrap5 %}
        {% bootstrap_css %}

        <title>Gestion de Aeropuerto</title>
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="{% static 'css/cabecera.css' %}">
        <link rel="stylesheet" href="{% static 'css/pie.css' %}">
        {% bootstrap_javascript %}
        <script src="{% static 'javascript/menu.js' %}"></script>
        <script src="{% static 'javascript/eliminar.js' %}"></script>
        <script src="https://kit.fontawesome.com/9460c07a8e.js" crossorigin="anonymous"></script>
        
    </head>
    <body>
        
        {% comment %} Encabezado {% endcomment %}
        <header class="navbar navbar-expand-lg navbar-dark bg-primary py-2">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <!-- Logo y título alineados -->
                <a class="navbar-brand d-flex align-items-center" href="/">
                    <img src="{% static 'imagenes/logo.jpeg' %}" alt="Logo" height="40" class="me-2">
                    <span>Sistema de Gestión de Aeropuertos</span>
                </a>
                  <div class="header-content">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" 
                            id="accionesDatos" 
                            role="button" 
                            data-bs-toggle="dropdown" 
                            aria-expanded="false">
                          Datos del usuario de la  sesion
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="accionesDatos">
                          <li><a class="dropdown-item">Fecha Inicio:</br>{{ request.session.fecha_inicio}}</a></li>
                          <li><a class="dropdown-item">Nombre : {{ request.session.nombreusuario}}</a></li>
                          <li><a class="dropdown-item">Email : {{ request.session.email}}</a></li>
                          <li><a class="dropdown-item">Tipo de usuario : {{ request.session.rol}}</a></li>
                          {% comment %} Como solo puede pertenecer a un unico grupo saco el primero {% endcomment %}
                          <li><a class="dropdown-item">Grupo : {{ request.session.grupo}}</a></li>
                        </ul>
                      </li>
                </div>

                <!-- Menú y formulario con márgenes -->
                <div class="d-flex align-items-center gap-3"> <!-- Añadimos separación -->
                    {% include 'Estructura/menu.html' %}
                    {% include 'Estructura/menuformulario.html' %}
                </div>

                <div class="ml-2">
                    {% if not request.user.is_authenticated %}
                    <a class="btn btn-outline-warning" href="{% url 'login' %}">
                        Login
                    </a>
                    {% endif %}
            
                    {% if not request.user.is_authenticated %}
                      <a class="btn btn-outline-warning" href="{% url 'registrar_usuario' %}">
                          Registrarse
                      </a>
                     {% endif %}
            
                     {% if request.user.is_authenticated %}
                     <form action="{% url 'logout' %}" class="d-flex m-3" role="search" method="POST">
                      {% csrf_token %} 
                      <button class="btn btn-light btn-outline-dark" type="submit">  Desconectarse</button>
                    </form>
                    {% endif %}
                  </div>
            </div>
        </header>

            

        {% comment %} Contenido {% endcomment %}
        <main class="content-section">
            {% block contenido %}
                <!-- Puedes agregar contenido aquí o sobreescribirlo desde otros templates extendidos -->
            {% endblock %}
        </main>

        {% comment %} Pie de pagina {% endcomment %}
        <footer class="bg-dark text-center text-white py-3">
            <p>&copy; 2024 Sistema de Gestión de Aeropuertos. Todos los derechos reservados.</p>
        </footer>
    </body>
</html>
