<div class="dropdown ms-3"> <!-- Margen izquierdo -->
    <button class="btn dropdown-toggle text-white" id="menuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars"></i> Formulario
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        {% if user.is_authenticated %} <!-- Verifica que el usuario esté logueado -->
            {% if user.rol == user.PASAJERO %} <!-- Opciones para el rol PASAJERO -->
                <li>
                    <a class="dropdown-item" href="{% url 'crear_reserva' %}"><i class="fas fa-file"></i> Crear Reserva </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'Reserva_buscar_avanzado' %}"><i class="fas fa-search"></i> Buscar Reserva </a>
                </li>
            {% elif user.rol == user.GERENTE %} <!-- Opciones para el rol GERENTE -->
                <li>
                    <a class="dropdown-item" href="{% url 'crear_estadisticasvuelo' %}"><i class="fas fa-file"></i> Crear Estadísticas de Vuelo </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'Estadisticas_buscar_avanzado' %}"><i class="fas fa-search"></i> Buscar Estadísticas de Vuelo </a>
                </li>
            {% endif %}
        {% else %}
        <li>
            <a class="dropdown-item" href="{% url 'crear_aeropuerto' %}"><i class="fas fa-file"></i> Crear Aeropuerto</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'Aeropuerto_buscar_avanzado' %}"><i class="fas fa-search"></i> Buscar Aeropuerto </a>
        </li>
            <li>
                <a class="dropdown-item" href="{% url 'crear_estadisticasvuelo' %}"><i class="fas fa-file"></i> Crear Estadisticas de vuelo </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'Estadisticas_buscar_avanzado' %}"><i class="fas fa-search"></i> Buscar Estadisticas de vuelo </a>
            </li>
        <li>
            <a class="dropdown-item" href="{% url 'crear_contacto' %}"><i class="fas fa-file"></i> Crear Contacto del Aeropuerto </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'contacto_Aeropuerto_buscar_avanzado' %}"><i class="fas fa-search"></i> Buscar Contacto del Aeropuerto </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'crear_Aerolinea' %}"><i class="fas fa-file"></i> Crear Aerolinea </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'Aerolinea_buscar_avanzado' %}"><i class="fas fa-search"></i> Buscar Aerolinea </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'crear_Vuelo' %}"><i class="fas fa-file"></i> Crear Vuelo </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'Vuelo_buscar_avanzado' %}"><i class="fas fa-search"></i> Buscar Vuelo </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'crear_pasajero' %}"><i class="fas fa-file"></i> Crear Pasajero </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'Pasajero_buscar_avanzado' %}"><i class="fas fa-search"></i> Buscar Pasajero </a>
        </li>
            <li>
                <a class="dropdown-item" href="{% url 'crear_reserva' %}"><i class="fas fa-search"></i> Crear Reserva </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'Reserva_buscar_avanzado' %}"><i class="fas fa-search"></i> Buscar Reserva </a>
            </li>
        {% endif %}
        
    </ul>
</div>
