<html>
    {% load static %}
    <head>
        <title>Gestion de Aeropuerto</title>
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="{% static 'css/cabecera.css' %}">
        <link rel="stylesheet" href="{% static 'css/pie.css' %}">
        <script src="{% static 'javascript/menu.js' %}"></script>
        <script src="https://kit.fontawesome.com/9460c07a8e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        {% comment %} Encabezado {% endcomment %}
        <header class="custom-header">
            <a href="/"><img src="{% static 'imagenes/logo.jpeg' %}" alt="Logo" class="header-logo"></a>
            <h1 class="header-title"><a href="/">Sistema de Gestión de Aeropuertos</a></h1>
            {% include 'Estructura/menu.html' %}
        </header>

        {% comment %} Contenido {% endcomment %}
        <main class="content-section">
            {% block contenido %}
                <!-- Puedes agregar contenido aquí o sobreescribirlo desde otros templates extendidos -->
            {% endblock %}
        </main>

        {% comment %} Pie de pagina {% endcomment %}
        <footer class="footer-section">
            {% include 'Estructura/pie.html' %}
        </footer>
        
    </body>
</html>
