{% extends "Principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container">
        <h1>Listado de Estadísticas de Vuelo</h1>
        {% for estadistica in estadisticas %}
        <article>
            {% include 'Listas/Estadistica.html' %}
        </article>
        {% endfor %}
        <div class="refresh">
            <a href="{% url 'lista_silla' %}">Refrescar la Lista</a>
        </div>
    </div>
{% endblock %}