{% extends 'Principal.html' %}

{% block contenido %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="card shadow p-4">
    <h2 class="text-secondary mb-4">Filtros de búsqueda</h2>
    <form method="GET" class="mb-4">
        {{ formulario.fecha_reserva.label_tag }}
        {{ formulario.fecha_reserva }}
        {% for error in formulario.fecha_reserva.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}
    
        {{ formulario.codigo_descueto.label_tag }}
        {{ formulario.codigo_descueto }}
        {% for error in formulario.codigo_descueto.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}
    
        {{ formulario.metodo_pago.label_tag }}
        {{ formulario.metodo_pago }}
        {% for error in formulario.metodo_pago.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}
    
        {{ formulario.estado_de_pago.label_tag }}
        {{ formulario.estado_de_pago }}
        {% for error in formulario.estado_de_pago.errors %}
            <div class="text-danger"><small>{{ error }}</small></div>
        {% endfor %}
    
        <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </form>
</div>

<h2 class="text-center text-secondary my-4">Resultados de búsqueda</h2>

<div class="row">
    {% if reservas %}
        {% for reserva in reservas %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Reserva ID: {{ reserva.id }}</h5>
                    <p class="card-text">
                        <strong>Fecha de Reserva:</strong> {{ reserva.fecha_reserva }}<br>
                        <strong>Código de Descuento:</strong> {{ reserva.codigo_descueto }}<br>
                        <strong>Método de Pago:</strong> {{ reserva.get_metodo_pago_display }}<br>
                        <strong>Estado de Pago:</strong> {{ reserva.estado_de_pago|yesno:"Pagado,No Pagado" }}<br>
                        <strong>Pasajero:</strong> {{ reserva.pasajero }}<br>
                    </p>
                </div>
                <div class="card-footer text-center">
                    {% load bootstrap_icons %}
                    <div class="row btn-group">
                        <div class="mb-2">
                            <button type="button" 
                                    class="btn btn-outline-primary"> 
                                    <a href="{% url 'editar_reserva' reserva.id %}"><span>{% bs_icon 'pencil' %}</span></a>
                            </button>
                        </div>
                    </div>
                    <div class="mb-2">
                        <form action="{% url 'reserva_eliminar' reserva.id %}" method="post"> 
                            {% csrf_token %}
                            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                <span>{% bs_icon 'trash' %}</span>
                            </button> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col-12">
            <p class="text-center text-danger">No se encontraron resultados.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
